*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html{
  min-height: 100%;
  display: flex;
}
body{
  flex: 1;
}
#root{
  height: 100%;
}
ul, li{
  list-style: none;
}
a{
  text-decoration: none;
  color: inherit;
}